<div class="container mt-4">
  <h1 class="display-4">Lista de Contatos</h1>

  <%= link_to 'Novo Contato', new_contato_path, class: 'btn btn-primary mb-3' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @contatos.each do |contato| %>
        <tr>
          <td><%= contato.nome %></td>
          <td><%= contato.cpf %></td>
          <td><%= contato.email %></td>
          <td><%= contato.telefone %></td>
          <td>
            <%= link_to 'Detalhes', contato, class: 'btn btn-info btn-sm mr-2' %>
            <%= link_to 'Editar', edit_contato_path(contato), class: 'btn btn-warning btn-sm mr-2' %>
            <%= link_to 'Excluir', contato, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
